body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 60px;
}

main {
    text-align: center;
    margin-top: 50px;
}
section{
    display: grid;
    grid-template-columns: auto auto auto;
}
h1 {
    font-family: 'Arial Black', sans-serif;
    color: #333;
}

.loader {
    width: 200;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.card{
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease; 
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.card-img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}